.bodyMain
{
    background: -webkit-linear-gradient(left, orange,white,green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange,white,green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange,white,green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,orange,white,green); /* Standard syntax (must be last) */
    padding: 1px;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
#partimg
{
    width:100%;
    height:100%;
    float: left;
    position: absolute;
    left: 100%;
    
}
.sepimg
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#sehwag
{
    background: -webkit-linear-gradient(left, orange,white,green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange,white,green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange,white,green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,orange,white,green); /* Standard syntax (must be last) */
    width:100%;
    height:100%;
    float: left;
    position: absolute;
    left: 200%;
    
}
#partimg1
{
    width:100%;
    height:100%;
    float: left;
    position: absolute;
    left: 300%;
    
}
#sachin
{
    background: -webkit-linear-gradient(left, orange,white,green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange,white,green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange,white,green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,orange,white,green); /* Standard syntax (must be last) */
    width:100%;
    height:100%;
    float: left;
    position: absolute;
    left: 400%;
}

html,body{
    height: 100%;
    padding: 0px;
    width: 100%;
    
    
  }

h1
{
    margin: 2%;
    color:white;
    text-shadow: 3px 4px 3px red;
      
}

.players
{
    width: 160px;
    height:160px;
    max-width: 50%;
    max-height: 50%;
}
#playleft
{
    float: left;
    margin-top: 1%;
}
#playright
{
    float: right;
    margin-top: 1%;
    border-radius: 80px;
}
.partn
{
    height: 68%;
}
.central
{
    margin-top: 9%;
}
.element{
    -webkit-animation: 7s ease 0s normal forwards 1 fadein;
    animation: 7s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0;text-shadow: 3px 4px 3px orange; }
    30% { opacity:0.2;text-shadow: 3px 4px 3px #acf441;}
    50% { opacity:0.5;text-shadow: 3px 4px 3px #92f441; }
    70% { opacity:0.7;text-shadow: 3px 4px 3px #59f442;}
    100% { opacity:1;text-shadow: 3px 4px 3px green;}
}
.footer {
   
    color: red;
    background: -webkit-linear-gradient(left, orange,white,green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange,white,green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange,white,green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,orange,white,green); /* Standard syntax (must be last) */
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.icons
{
    width: 28px;
    height: 28px;
}
.icondisp
{
    list-style-type: none;
    float: left;
    vertical-align: baseline;
}
.engineTable, tr
{
    border:1px solid black;
    
}
.engineTable
{
    
    background: -webkit-linear-gradient(left, orange,white,green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange,white,green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange,white,green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,orange,white,green); /* Standard syntax (must be last) */
   max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
}
th
{
    color: white;
    background-color: black;
}
td ,tr,th
{
    padding: 3px 3px 3px;
    
}
tr:hover
{
    background-color:lightblue;
}
.sehwagFrame
{
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:30%;
}
p
{
   font-size: 15px;
    margin: 0px;
    padding: 1px 5px 5px;
}
.viruimg
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.button {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    width:60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:10px;
}
.button:hover
{
background-color: #4CAF50;
box-shadow: 5px 5px 5px #888888;
}